fastapi==0.115.6
uvicorn==0.32.1
pydantic==1.10.19
spacy==3.8.0
nltk==3.9.1
pandas==1.5.3
setuptools==75.6.0
starlette==0.41.3
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
tqdm==4.67.1
Jinja2==3.1.4
requests==2.32.3
certifi==2024.8.30